<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--ICON LIBRARY-->
    <link href="./css/all.css" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./about.css"/>
    <link
      rel="icon"
      type="image/x-icon"
      href="./icons/gamepad-solid.svg"
    />
    <title>About me</title>
  </head>
  <body>
    <header class="page-header">
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
      </div>
    </header>
    <!--TIMELINE / TEXT-->
    <section>
      <div class="history-tl-container">
        <div class="info-text">
          <p>Designer and Game Developer ..
<!--             <br><br> Deeply intrested in the intersection of technology and architecture with the goal 
            to excel in computational design by learning through my peers and the challenges I come across. -->

<!--             <br><br> Outside architecture, you can find me playing or watching soccer, and reading sci-fi books. -->
          </p>
        </div>
        <!--
          <div class="skills">
          <div id="my-logos">
            <img class="logo" src="../skills/rhinoceros.jpg" />
            <img class="logo" src="../skills/grasshoper.jpeg" />
            <img class="logo" src="../skills/revit.png" />
            <img class="logo" src="../skills/autocad.png" />
            <img class="logo" src="../skills/ps.png" />
            <img class="logo" src="../skills/il.png" />
            <img class="logo" src="../skills/Premiere-icon.png" />
            <img class="logo" src="../skills/indesign.png" />
            <img class="logo" src="../skills/ae.png" />
            <img class="logo" src="../skills/unreal.png" />
            <img class="logo" src="../skills/vray.jpeg" />
            <img class="logo" src="../skills/lumion.png" />
            <img class="logo" src="../skills/twinmotion.png" />
            <img class="logo" src="../skills/html.png" />
            <img class="logo" src="../skills/css.png" />
            <img class="logo" src="../skills/js.png" />
          </div>
        </div>
        -->
        <div>
          <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="item-title">PUBLICATIONS</div>
              <br><div class="item-detail item-detail-2">University of Virginia
                Press, 2021. <a target="_blank" href="http://sah-archipedia.org/buildings/CT-01-009-0057"><u class="underline"></u>SAH Archipedia</a></div>
              <div class="item-detail item-detail-3">
                <b></b> 
                Waterbury Union Station [Building of Connecticut], Mesut Sallah with Emily Chase Morash. Charlottesville, University of Virginia
                Press, 2021. <a target="_blank" href="http://sah-archipedia.org/buildings/CT-01-009-0057"><u class="underline"></u>SAH Archipedia</a>
              </div>
              <div class="item-detail item-detail-3">
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">SEP 2020 - PRESENT</div>
              <div class="item-title">Safdie Architects</div>
              <div class="item-detail item-detail-2">SEP 2020 - PRESENT</div>
              <div class="item-detail"><span><i class="fas fa-map-pin"></i></span> Somerville, MA</div>
              <div class="item-detail item-detail-3">
                <b>/</b> 
                Manage and develop in-house computational design resource library (Grasshopper, Python and Rhino.Inside.Revit scripts).
              </div>
              <div class="item-detail item-detail-3">
                <b>/</b>  Intergrated Resort Masterplan (Competition)
                Update Rhino 3D model on a daily basis. Massing studies / detailed model for complex hotel towers. Model complex roof geometries. Develop Grasshopper scripts for efficient and fast modeling.
              </div>
              <div class="item-detail item-detail-3">
                <b>/</b> The Uplift (Tech Campus Headquarter)
                Concept design through 100% Schematic and DD design. Provided computational design expertise and support for projects during the schematic design, including Revit modeling, documentation, visualization, and various types of analysis. Initiated the use of Rhino.Inside.Revit for modeling complex geometries.
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">AUG 2011 - MAY 2016</div>
              <div class="item-title">CONNECTICUT COLLEGE</div>
              <div class="item-detail item-detail-2">SEP 2011 - MAY 2016</div>
              <div class="item-detail"><span><i class="fas fa-map-pin"></i></span> New London, CT</div>
              <div class="item-detail">
                <b>/</b> Bachelor of Arts (B.A.) in Studio Art and Art History
              </div>
              <div class="item-detail">
                <b>/</b> Magna Cum Laude with Department Distinctions
              </div>
              <div class="item-detail">
                <b>/</b> CISLA Scholar | Club Soccer</i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- //NAV-BAR -->
    <nav class="nav-bar">
      <a id="page-link" href="./index.html">HOME</a>
      <a id="page-link" href="./portfolios.html">PORTFOLIOS</a>
      <!--<a id="page-link" href="../professional/professional.html">PROFESSIONAL WORK</a>-->
      <a id="page-link" href="./contact.html">CONTACT</a>
    </nav>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"
      integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"
      integrity="sha512-RvUydNGlqYJapy0t4AH8hDv/It+zKsv4wOQGb+iOnEfa6NnF2fzjXgRy+FDjSpMfC3sjokNUzsfYZaZ8QAwIxg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"
      integrity="sha512-5/OHwmQzDSBS0Ous4/hlYoWLHd06/d2r7LdKZQVBXOA6PvOqWVXtdboiLTU7lQTGyVoKVTNkwi0ol4gHGlw5ww=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js"
      integrity="sha512-6zTDRWNxo8vI6JZYDCwhrJpg5icK3P4HNnW3czsO5Scb3lAoPDam+/wF3eog4hxcl0h44d0XlIcFkuoSaWHQ2g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="about.js"></script>
  </body>
</html>
