<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--ICON LIBRARY-->
    <link href="./css/all.css" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./about.css"/>
    <link
      rel="icon"
      type="image/x-icon"
      href="./icons/iconmonstr-folder-18.svg"
    />
    <title>About me</title>
  </head>
  <body>
    <header>
      <span
        id="burger"
        style="font-size: 30px; cursor: pointer;"
        onclick="openNav()"
        >&#9776;</span
      >
      <nav id="navbar">
        <a
          id="close-burger"
          href="javascript:void(0)"
          class="closebtn"
          onclick="closeNav()"
          >&times;</a
        >
        <a id="page-link" href="./index.html">HOME</a>
        <a id="page-link" href="./portfolios.html">PORTFOLIOS</a>
        <!--<a id="page-link" href="../professional/professional.html">PROFESSIONAL WORK</a>-->
        <a id="page-link" href="./contact.html">CONTACT</a>
      </nav>
    </header>
    <!--TIMELINE / TEXT-->
    <section>
      <div class="history-tl-container">
        <div class="info-text">
          <p>I am an architectural designer and a passionate game developer...
<!--             <br><br> Deeply intrested in the intersection of technology and architecture with the goal 
            to excel in computational design by learning through my peers and the challenges I come across. -->

<!--             <br><br> Outside architecture, you can find me playing or watching soccer, and reading sci-fi books. -->
          </p>
        </div>
        <!--
          <div class="skills">
          <div id="my-logos">
            <img class="logo" src="../skills/rhinoceros.jpg" />
            <img class="logo" src="../skills/grasshoper.jpeg" />
            <img class="logo" src="../skills/revit.png" />
            <img class="logo" src="../skills/autocad.png" />
            <img class="logo" src="../skills/ps.png" />
            <img class="logo" src="../skills/il.png" />
            <img class="logo" src="../skills/Premiere-icon.png" />
            <img class="logo" src="../skills/indesign.png" />
            <img class="logo" src="../skills/ae.png" />
            <img class="logo" src="../skills/unreal.png" />
            <img class="logo" src="../skills/vray.jpeg" />
            <img class="logo" src="../skills/lumion.png" />
            <img class="logo" src="../skills/twinmotion.png" />
            <img class="logo" src="../skills/html.png" />
            <img class="logo" src="../skills/css.png" />
            <img class="logo" src="../skills/js.png" />
          </div>
        </div>
        -->
        <div>
          <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="item-title">PUBLICATIONS</div>
              <br><div class="item-detail item-detail-2">University of Virginia
                Press, 2021. <a target="_blank" href="http://sah-archipedia.org/buildings/CT-01-009-0057"><u class="underline"></u>SAH Archipedia</a></div>
              <div class="item-detail item-detail-3">
                <b></b> 
                Waterbury Union Station [Building of Connecticut], Mesut Sallah with Emily Chase Morash. Charlottesville, University of Virginia
                Press, 2021. <a target="_blank" href="http://sah-archipedia.org/buildings/CT-01-009-0057"><u class="underline"></u>SAH Archipedia</a>
              </div>
              <div class="item-detail item-detail-3">
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">SEP 2020 - PRESENT</div>
              <div class="item-title">Safdie Architects</div>
              <div class="item-detail item-detail-2">SEP 2020 - PRESENT</div>
              <div class="item-detail"><span><i class="fas fa-map-pin"></i></span> Somerville, MA</div>
              <div class="item-detail item-detail-3">
                <b>/</b> 
                Manage and develop in-house computational design resource library (Grasshopper, Python and Rhino.Inside.Revit scripts).
              </div>
              <div class="item-detail item-detail-3">
                <b>/</b>  Intergrated Resort Masterplan (Competition)
                Update Rhino 3D model on a daily basis. Massing studies / detailed model for complex hotel towers. Model complex roof geometries. Develop Grasshopper scripts for efficient and fast modeling.
              </div>
              <div class="item-detail item-detail-3">
                <b>/</b> The Uplift (Tech Campus Headquarter)
                Concept design through 100% Schematic design. Provided computational design expertise and support for projects during the schematic design, including Revit modeling, documentation, visualization, and various types of analysis. Initiated the use of Rhino.Inside.Revit for modeling complex geometries.
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">SEP 2011 - MAY 2016</div>
              <div class="item-title">CONNECTICUT COLLEGE</div>
              <div class="item-detail item-detail-2">SEP 2011 - MAY 2016</div>
              <div class="item-detail"><span><i class="fas fa-map-pin"></i></span> New London, CT</div>
              <div class="item-detail">
                <b>/</b> Bachelor of Arts (B.A.) in Architectural Studies
              </div>
              <div class="item-detail">
                <b>/</b> minor[s] in French, Studio Art and Arabic Studies
              </div>
              <div class="item-detail">
                <b>/</b> Magna Cum Laude with Department Distinctions
              </div>
              <div class="item-detail">
                <b>/</b> CISLA Scholar | Club Soccer</i>
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">SEP 2009 - MAY 2011</div>
              <div class="item-title">WASATCH ACADEMY</div>
              <div class="item-detail item-detail-2">SEP 2009 - MAY 2011</div>
              <div class="item-detail"><span><i class="fas fa-map-pin"></i></span>
                Mount Pleasant, Utah
              </div>
              <div class="item-detail">
                <b>/</b> Varsity Soccer, Class of 2011 Vice President
              </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">MAR 2002 - DEC 2008</div>
              <div class="item-title">LYCÉE ESTEQLAL</div>
              <div class="item-detail item-detail-2">MAR 2002 - DEC 2008</div>
              <div class="item-detail"><span><i class="fas fa-map-pin"></i></span>
                Kabul, Afghanistan
              </div>
              <div class="item-detail">
                <b>/</b> Le Bac
              </div>
              <div class="item-detail">
                <b>/</b> Concours [300.5]
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <script src="about.js"></script>
  </body>
</html>
