@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --background-color: #cac8c8;
  --special-color: #906272;
  --special-color-2: #7703c5;
  --special-color-3: #3498db;
  --special-color-4: #8a74c4;
  --gret-text: #525252;
  --blue-text: #1d4ce7;
  scroll-behavior: smooth;
  font-family: "Press Start 2P", cursive;
  scroll-behavior: smooth;
}
#burger {
  display: none;
}
#close-burger {
  display: none;
}
body {
  height: 100vh;
}
/*NAV*/
nav {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: black;
}
nav a {
  font-weight: 500;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: var(--special-color-3);
}
/*FORM*/
#contact {
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
h2 {
  font-size: 40px;
  line-height: 60px;
}

#contact span a {
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
  font-weight: 900;
  text-decoration: none;
  color: var(--special-color-3);
}
#contact span a:hover {
  color: var(--special-color-3);
}
p {
  font-size: 20px;
}
.social-links {
  font-size: 30px;
}
.social-links a:hover {
  color: var(--special-color-3);
}
/*FOOTER*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  padding: 20px;
}
footer p {
  color: var(--gret-text);
  font-size: 16px;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 950px) {
  #burger {
    display: block;
    padding: 10px;
  }
  #close-burger {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 70px;
    margin-left: 0px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 0%;
    position: fixed;
    background-color: transparent;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
  }
  nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #contact {
    margin: 0 auto;
    width: 0%;
    height: 40%;
    transform: translateY(50%);
  }
  h2 {
    font-size: 15px;
    line-height: 30px;
  }
  #contact span a {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    font-weight: 900;
    text-decoration: none;
    color: var(--special-color-3);
  }
  p {
    font-size: 15px;
  }
  footer p {
    font-size: 10px;
    line-height: 20px;
  }
}
}
