@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --background-color: #cac8c8;
  --special-color: #906272;
  --special-color-2: #7703c5;
  --special-color-3: #3498db;
  --special-color-4: #8a74c4;
  --gret-text: #525252;
  --blue-text: #1d4ce7;
  scroll-behavior: smooth;
  font-family: "Press Start 2P", cursive;
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
}
#burger {
  display: none;
}
#close-burger {
  display: none;
}
body {
  height: 100vh;
}
/*NAV*/
nav {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: black;
}
nav a {
  font-weight: 500;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: var(--special-color-3);
}
.container {
  position: relative;
  width: 1100px;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.fa-file-download {
  font-size: 30px;
}
.game-button {
  position: absolute;
  top: 40%;
  width: 200px;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  text-decoration: none !important;
  outline: none !important;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: .1em;
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
  border: none;
  margin: 15px 15px 30px;
  background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255,255,255,.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 10px 0px 10px;
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3);
}
.game-button:hover {
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0,0,0,.3);
}

  .game-button.green {
    background: repeating-linear-gradient( 45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
     box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0,0,0,.3);
     border-bottom: 3px solid rgba(40, 117, 29, 0.5);
     text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
 }
 .game-button.green:hover {
   box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0,0,0,.3);
 }
  .progress {
    position: absolute;
    border: 3px solid #05e35e;
    height: 15px;
    width: 100%;
    margin-left: auto;
    margin-top: 60px;
    width: 100%
  }
  
  .progress .progress__bar {
    height: 100%;
    width: 0%;
    background-color: #05e35e;
    animation: fill-bar 3s infinite;
  }
  
  @keyframes fill-bar {
    from {width: 0%;}
    to {width: 100%;}
  }

/*FOOTER*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  padding: 20px;
}
footer p {
  color: var(--gret-text);
  font-size: 16px;
  text-decoration: none;
}
@media (min-width: 300px) and (max-width: 950px) {
  #burger {
    display: block;
    padding: 10px;
  }
  #close-burger {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 70px;
    margin-left: 0px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: transparent;
    right: 0px;
    overflow-x: hidden;
    transition: 1s;
  }
  nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .container {
    width: 100%;
    margin: -30px auto;
    display: flex;
    flex-direction: column;
  }
  .container .box {
    width: 220px;
    height: 110px;
    margin: 20px;
    padding: 60px;
    font-size: 16px;
    line-height: 20px;
  }
  .fas {
    display: none;
  }
  footer p {
    font-size: 10px;
    line-height: 20px;
  }
}
