* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --background-color: #cac8c8;
  --special-color: #906272;
  --special-color-2: #d9b7f0;
  --special-color-3: #fae25a;
  --special-color-4: #8a74c4;
  --gret-text: #525252;
  --blue-text: #1d4ce7;
  scroll-behavior: smooth;
  font-family: "Rajdhani", sans-serif;
  scroll-behavior: smooth;
}
#burger {
  display: none;
}
#close-burger {
  display: none;
}
body {
  height: 100vh;
}
/*NAV*/
nav {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: black;
}
nav a {
  font-weight: 500;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: var(--special-color-3);
}
.container {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 300px) and (max-width: 950px) {
  #burger {
    display: block;
    padding: 10px;
  }
  #close-burger {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 70px;
    margin-left: 0px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 0%;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
  }
  nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}
